<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>YourAppName</string>

    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.yourapp</string>

    <key>CFBundleName</key>
    <string>YourAppName</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundleExecutable</key>
    <string>YourAppExecutableName</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>

    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationPortrait</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera to allow you to take photos.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location to provide localized content.</string>
      <key>NSFaceIDUsageDescription</key>
  <string>Allow $(PRODUCT_NAME) to use FaceID</string>
  </dict>
</plist>
